
@outerMargin: 20px;

.meow-footer {
    // @todo local reset
    display: block;

    margin: @outerMargin 0;

    text-align: right;

    opacity: 1;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transition: opacity 0.2s, transform 0.2s;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;

    &[transition=enter] {
        opacity: 0.01;
        transform: translate(0, 20px);
        -webkit-transform: translate(0, 20px);
    }

    > .meow-footer__error-container {
        display: inline-block;
        overflow: hidden;
        margin: 0;

        > .meow-footer__error-text {
            display: block;
            padding-right: @outerMargin;

            color: #c0392b;
            font: 700 14px/1 'Open Sans', sans;

            opacity: 1;
            transform: translate(0, 0);
            -webkit-transform: translate(0, 0);
            transition: opacity 0.4s, transform 0.4s;
            -webkit-transition: opacity 0.4s, -webkit-transform 0.4s;

            &[transition=enter] {
                opacity: 0.01;
                transform: translate(100%, 0);
                -webkit-transform: translate(100%, 0);
            }
        }
    }

    > button {
        margin: 0;
        border: 0;
        border-radius: 3px;
        padding: 15px 20px;

        background: #1abc9c;
        color: #fff;
        font: 300 18px/1 'Open Sans Condensed', sans;

        cursor: pointer;
        outline: none;

        border-bottom: 2px solid #16a085;

        &:hover, &:focus {
            background: lighten(#1abc9c, 2%);
        }

        &:disabled {
            transition: background 0.4s, border-color 0.4s;
            background: #95a5a6;
            border-bottom-color: #7f8c8d;
        }
    }
}

.meow-field {
    // @todo local reset
    display: block;

    margin: @outerMargin 0;

    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: opacity 0.1s ease-in, transform 0.1s ease-out;
    -webkit-transition: opacity 0.1s ease-in, -webkit-transform 0.1s ease-out;

    &[transition=enter] {
        opacity: 0.01;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }

    > .meow-field__label-text {
        color: #2c3e50;
        font: 300 18px/1 'Open Sans Condensed', sans;
        min-height: 1em;
    }

    > input[type=text] {
        box-sizing: border-box;
        width: 100%;
        border: 2px solid #1abc9c;
        border-radius: 3px;
        padding: 5px;

        color: #2c3e50;
        font: 300 16px/1 'Open Sans', sans;

        cursor: pointer;
        outline: none;

        &:focus {
            border-color: #16a085;
        }
    }

    &[has-error=true] > input[type=text] {
        border-color: #c0392b;
    }

    &[is-pending=true] > input[type=text] {
        border-color: #95a5a6;
    }

    > .meow-field__error-text {
        display: block;
        height: 0;
        color: #c0392b;
        font: 700 14px/1 'Open Sans', sans;

        text-align: right;

        opacity: 1;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        transition: opacity 0.2s, transform 0.2s;
        -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;

        &[transition=enter] {
            opacity: 0.01;
            transform: translate(0, 20px);
            -webkit-transform: translate(0, 20px);
        }
    }
}
